extends ../common/layout.pug
block head
  title Contacts -- CY.io

block content
  +pageHeader("Contacts")
  #content
    section
      h2 github
      a(href="https://github.com/cwhy") @cwhy
      h2 twitter
      a(href="https://twitter.com/chenyuio") @chenyuio
      h2 twitch
      a(href="https://twitch.tv/chenyuio") /chenyuio
