extends ../common/layout.pug
block head
  title Journals -- CY.io

block header
  +pageHeader("Journals")
block content
  section
    h2 Journal Index
    ul
      li
        a(href="journals/04-08-21") The story of this website
