header
  .wrapper
    h1#title chenyu.I/O
    nav
      ul
        li
          a.btn-current-state(href='#') Projects
        li
          a.btn-non-current-state(href='#') Articles
        li
          a.btn-non-current-state(href='#') Blog
        li
          a.btn-non-current-state(href='#') Contact
