doctype html
html
  head
    meta(charset='utf-8')
    title Chen Yu
    style
      include style.css
      include layout.css
      include nav.css
  body
    include header.pug
    include about.pug
    include footer.pug
