@use "params" as *

nav
  display: flex
  flex-direction: row-reverse
  color: $color-almost-black
  align-self: flex-end
  margin-top: 0.2em
  @include display-sans-3
  font-size: 1.4em

  ul
    margin: 0
    padding: 0
    display: flex
    flex-direction: row
    li
      margin-left: 0.5em

      a
        display: block
        padding: 0.8em
        text-align: center
        text-decoration: none
        font-weight: bold
        background: $color-gray-lighter

        &:hover, &:focus
          text-decoration: underline
          @include with-shadow-btn

        &:active
          padding: calc(0.8em - 2px) calc(0.8em - 2px) calc(0.8em + 2px) calc(0.8em + 2px)
          @include with-shadow-btn-pressed

//        &:hover, &:visited
//          color: $color-almost-black


@media (min-width: $small-mid-break) and (max-width: $mid-normal-break)
  nav
    ul
      margin: 0

@media (min-width: $mid-normal-break)
  nav
    ul
      margin: 0
