// Color scheme
$color-darkgrey: #222
$color-lightgray: #eee
$color-lightgray2: #dfdfdf
$color-lightgray3: #f0f0f0
$color-mild-alt: #b3d4fc
$color-almost-black: #999

// Typography
$font-stack-serif: 'Charter', 'Geogia', serif
$font-stack-sans-serif: "TheSans B6 SemiBold", Helvetica, Arial, sans-serif
$base-font-size: 15px
$extra-bold: 800
$medium: 500
$light: 300

// Responsive
$small-mid-break: 768px
$mid-normal-break: 950px
$normal-large-break: 1400px

