extends ../common/journal.pug

block head
  title A list of songs I liked


block content
  section
    h2 A list of songs I liked
    p
     | Obviously I don't have a song list here.
     | I am the guy who like to claim that I have never have favourite things.
     | It's true, though.
     | Whenever the security questions comes,
     |  asking my favourite movie, book, sport, or even teacher,
     |  I will know that I will forgot someday.
     | It always ends up me keeping a fake list of things in mind,
     |  for the security questions, as well as some over-friendly people.
    p
     | Back to the topic of music.
     | When I was I kid, I don't like any of the music that doesn't require skill.
     | I hated pop music, watching the older kids obsessed with pop stars,
     | I always wonder that there are so many awesome performers,
     | why would you go for someone who can't even get the high nodes.
     | Besides, to me as a child, pop music was some noisy mess.
     | Of course I know now I was comparing them to the complexity of kid songs.
     | I realized that by listening to Mozart's Requiem,
     | expecting a new-age like calming experience,
     | but ending up confused by angry(as I comprehend) vocalists shouting Latin.
    p
     | I then started my music exploration journey,
     | from pops stuffs Jay Chou and Backstreet boys,
     | which my roommates blast me on,
     | to film music for my drama projects in high school.
     | I started to "get" why people like different kind of music,
     | I understood them little by little,
     | from Chinese-pop, to 90s ballads, to pop rock, to mainstream pop.
     | I started to know that complexity is not the ultimate goal,
     | as the utter complex thing is gaussian noise,
     | which is also quite interestingly some academic projects.
     | I get used to different kind of complexity,
     | like the showoffs in the Romantic era,
     | the emotions in 80's rock,
     | the stories hidden in folk song's lyrics,
     | the game of sounds in electronic music,
     | the sick flows in hip hop,
     | and the 1000+ extension chords in Jazz,
     | and so on.
    p
      | Knowing stuffs make me sad, sometimes.
      | I then know that I cannot find the best music to like,
      | I can only find the music that I like the best.
      | But.. I really don't know.
      | Originated for a time in university where I need to make videos for my college clubs.
      | Since a pop song would sure cheer a lot of people up,
      | I started to follow the Billboard charts [1],
      | pin down some nice hits for my videos.
      | At the same time,
      | I was also searching for some music that I really like.
      | The journey is not quite straight forward,
      | sometimes I just find myself sinking into elitism of favouring complexity,
      | or ends up being a pop music critic,
      | measuring a song purely by how it would perform well in the market.
      | I have Google sheets of songs that caught my ears,
      | I called them "guilty pleasures".
      | I also have "Next pop trends" and "Advanced work" files, though. Sigh.
    p
      | I still like to explore, though.
      | A fresh song/pieces that contains ideas that I have never heard of (of which that I comprehend, though)
      | would excite me.
      | Before I am doing something that would bore me, like housework, I will find some new music to listen to.
      | Today I was in the same state.
      | Quite tired due to side effects of vaccination,
      | I went off my work for a day and enjoy some chill music.
      | After watching a musical on British minecraft stream VODs,
      | I encountered a weird song list after some mindless random clicks.
      | Youtube's recommendation algorithm never got me before,
      | but from the thumbnails and titles I still found a lot of stuffs interesting to me:
      | modular synthesizer cover of Clare de Lune, Japanese traditional music, math rock and so on.
      | They are great, after listening to them I confirmed that.
      | "This is such a pleasant playlist", I think.
    p
      | I listened to a few of them and couldn't more enjoy that.
      | I wanted to record the playlist because I want to keep them for the next session.
      | But as I dragged down the list, I discover that the list "My Mix" is not any random list.
      | It is just a list of songs I upvoted, that's all,
      | it is the over-fitted results of the laziest recommendation system: try to predict the past interaction data.
      | Across the years, I will songs upvote the song/video I like.
      br
      | And most of them I forgot that I liked.
    p
      | I don't have any playlists that's truly "favourites" ever.
      | I only have "focus" type of playlist, or "enjoy the novelty" type of playlist.
      | It is just like, I don't really dare to really commit to like something.
      | I had the thoughts of the possibility that I really don't have something that I like,
      | I was only influenced by the society view of music.
      | It was quite unsettling to think about that.
      | But I have a list now that I just realized:
      | being influenced choices whatever they are,
      | I still like them, I enjoy them, and that's what important. Right?
    p
      | Some people really have their own taste on everything, which I was really curious about before.
      | I faked a lot of my life choices as "I just like them", but there's always some other rational reasons behind that.
      | And the reasons are usually the real rational calculations.
      | I hoped to have "raw motivations" and always expected it to be something magical.
      | But a lot of things recently, including this music list,
      | is indicating a possibility that I actually have them all along.
      | It's actually nothing magical for me.
      | It's like a shy kid behind the curtain that will sometimes show up and share a few things,
      | behind all the fancy reasoning about values.
      | I keep pushing new things into my head, the kid gets overwhelmed sometimes.
      | But he is always there and I unconsciously make decisions based on him.
    p
      | To really "live life to the fullest", we cannot limit ourselves in boxes and expose to new possibilities.
      | -- This is what people usually say. But to me it is not quite the case.
      | When more possibilities rush in, I feel more resourceful, but still ungrounded.
      | All the decisions are all well thought, for my life plans on long-term and short-term happiness.
      | But they are always just -- a bit uncomfortable.
      | Because I seldom listened to the kid. I did not realized that he exists.
      | He is always afraid of the unknown unknowns, but I did not listen to that.
      | I was not thinking out of box: I don't even have boxes to stay comfortable inside in the first place.
      | I was always thinking detached for my self as a friend.
    P
      | I was always searching for new solutions when I got lost.
      | It's like sailing in a never-ending ocean.
      | I never looked back.
      | But I was never realized I could be actually so comfortable
      | -- with merely a list of songs I liked.

    ul
      li [1] Of course I started to look at other charts later after billboards are filled with country music,
        | they sounds
        =" "
        a(href='https://www.youtube.com/watch?v=FY8SwIvxj8o')
          | literally
        =" "
        a(href='https://www.youtube.com/watch?v=v6OCO01KWMk')
          | all
        =" "
        a(href='https://www.youtube.com/watch?v=WNKiR3seRD0')
          | the
        =" "
        a(href='https://www.youtube.com/watch?v=dQw4w9WgXcQ', title='LoL I of course know this is not country music')
          | same
        |  man.
