#main {
    background: #fff;
    width: 900px;
    padding: 3.5em;
    margin: 1em auto;
    box-shadow: 0 0 6px #ccc;
    display: flex;
    flex-direction: column;
}

#header {
    border-bottom: 5px dotted gray;
    display: flex;
    justify-content:space-between
}
#name {
    margin: 0 0 0.3em 0;
}
#contact {
    text-align: right;
}

#publications ul, #skills ul{
    list-style-position: outside;
    list-style-type: square;
}

@media print {
    #main {
        box-shadow: none;
        padding: 0;
        background: gray;
    }
}
